<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028846139837-g0tlnvif70h21j31la0jhh4d4rgbjh6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028846139837-g0tlnvif70h21j31la0jhh4d4rgbjh6j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028846139837-c7e8o4d22eukpbr67r1ic767ricpms53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHhmwyBiA-Zvn4Ioo-Puofo2xuKijqdTk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028846139837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adv7dev.eusoudesbravadores</string>
	<key>PROJECT_ID</key>
	<string>clube7desbravadores</string>
	<key>STORAGE_BUCKET</key>
	<string>clube7desbravadores.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028846139837:ios:058270513fdc77b275bad4</string>
	<key>DATABASE_URL</key>
	<string>https://clube7desbravadores-default-rtdb.firebaseio.com</string>
</dict>
</plist>